/* Set default margin and padding to 0*/
* {
  margin: 0;
  padding: 0;
}

/* Define primary color used for text and secondary used for placeholder background atm.*/

:root {
  --primary-color: #785c1b;
  --secondary-color: #f1f1f1;
}

/* Set height 2em and width 3em | Set background color to secondary color*/

body {
  margin: 0.5em 3em;
  background-color: var(--secondary-color);
}

/* Set primary color for the text*/

h1,
h2,
h3,
figcaption,
p {
  color: var(--primary-color);
}

/* Create line after 7 minute workout | set line break on figcaption  */

h1:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 6.6em;
  border-bottom: 1px solid var(--primary-color);
}

.line-break {
  content: "";
  display: block;
}

/* Instead of having uppercase letters in HTML we did it through css*/

h1,
h2,
.selectExcercise button {
  text-transform: uppercase;
}

/*Sizing for elements | set header text to align center*/

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.7rem;
  margin: 10px 0;
}

header {
  text-align: center;
}

/* Style each row */

section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

figure {
  text-align: center;
  max-width: 100%;
  margin: 20px 0;
  padding: 10px;
}
figure img {
  width: 100%;
}

figcaption {
  font-size: 1.3rem;
}

/*CSS related to JS*/

.selectExcercise {
  text-align: center;
  margin-top: 2em;
}

.selectExcercise h3 {
  font-size: 1.5rem;
}

.notActive {
  opacity: 0.3;
}

/* Mediaqueries for different styles*/

/*Medium screens*/
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }

  figure img {
    width: 85%;
  }
}

/*Large screens*/
@media only screen and (max-width: 992px) {
  section {
    display: flex;
    flex-wrap: nowrap;
  }
}

/*Extra large screens*/
@media only screen and (max-width: 1200px) {
}
