/* Set default margin and padding to 0*/
* {
  margin: 0;
  padding: 0;
}

/* Define primary color used for text and secondary used for placeholder background atm.*/

:root {
  --primary-color: #785c1b;
  --secondary-color: #f1f1f1;
}

/* Define fonts for heading and body text*/
@font-face {
  font-family: "Gill-Sans";
  src: url(../fonts/gill-sans.otf);
}

@font-face {
  font-family: "Athelas-Regular";
  src: url(../fonts/athelas-regular.ttf);
}

/* Set font for heading and body text*/

header {
  text-align: center;
  font-family: "Gill-Sans", sans-serif;
}

figcaption {
  font-size: 1.3rem;
  font-family: "Athelas-Regular", sans-serif;
}

/* Set height 2em and width 3em | Set background color to secondary color*/

body {
  margin: 0.5em 3em;
  background-color: var(--secondary-color, 0.1);
}

/* Set primary color for the text*/

h1,
h2,
h3,
figcaption,
p {
  color: var(--primary-color);
}

/* Create line after 7 minute workout | set line break on figcaption  */

h1:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 6.6em;
  border-bottom: 1px solid var(--primary-color);
}

.line-break {
  content: "";
  display: block;
}

/* Instead of having uppercase letters in HTML we did it through css*/

h1,
h2,
#btn {
  text-transform: uppercase;
}

/*Sizing for elements | set header text to align center*/

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.7rem;
  margin: 10px 0;
}

/* Style each row */

section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

figure {
  text-align: center;
  max-width: 100%;
  margin: 20px 0;
  padding: 10px;
  opacity: 0.2;
}
figure img {
  width: 100%;
}

/*CSS related to JS*/

#workout > button {
  margin: 2em auto 0 auto;
}

.selectExcercise h3 {
  font-size: 1.5rem;
}

.active {
  opacity: 1;
}

#selectWorkoutModal {
  /* display: none; */
  position: fixed;
  z-index: 1;
  padding-top: 40px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* background-color: rgb(0, 0, 0); */
  background-color: rgba(0, 0, 0, 0.4);
}

.close {
  float: right;
  color: #aaaaaa;
  font-size: 35px;
  font-weight: bold;
}

.closeBtn {
  width: 100%;
  height: 3em;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 75%;
  height: 39.5em;
  border-radius: 1em;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

fieldset {
  background-color: #eeeeee;
  width: 60%;
  margin: 2em 0 10px 0;
  /* height: 14em; */
  padding: 0 1em;
}

legend {
  font-size: 1.1rem;
  background-color: gray;
  color: white;
  padding: 12px 10px;
  margin: 0 auto 1em auto;
}

label {
  display: flex;
  margin: 5px 8px;
}

label span {
  padding-left: 10px;
  font-size: 1.1rem;
}

input[type="submit"] {
  margin: 1em 4em 1em 1em;
  width: 80%;
}
/* Mediaqueries for different styles*/

/*Medium screens*/
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }

  figure img {
    width: 85%;
  }
}

/*Large screens*/
@media only screen and (min-width: 992px) {
  section {
    display: flex;
    flex-wrap: nowrap;
  }
}
